/*
* file: qtail.css
* name:
* author: XiaozhiSans
* creative date: 2024/03/29
* update date: 2024/03/30
*/

/* 原生美化 */
a {
	color: blue;
	text-decoration: none;
	border: 1px dashed blue;
	border-radius: 10px 10px 10px 10px;
}
a:hover {
	border: 1px solid blue;
}
body {
	color: black;
	background-color: black;
	background-repeat: no-repeat;
	font-family: "微软雅黑", "Microsoft Yahei";
}

h1.title,
h2.subtitle {}

textarea#result {
	width: 95%;
	resize: none;
	font-size: 150%;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	border-radius: 10px 10px 10px 10px;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rgbColor 4s infinite linear;
	background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
}

div.qtailBox {
	width: auto;
	display: flex;
	padding: 10px;
	margin: -5px 20px;
	position: relative;
	flex-direction: column;
	justify-content: center;
	background-color: #ff69b499;
	/* border-radius: 10px 10px 0 0; */
}
div.resultBox {
	width: auto;
	display: flex;
	padding: 10px;
	margin: 5px 20px;
	position: relative;
	flex-direction: column;
	background-color: #ff149399;
	border-radius: 0 0 10px 10px;
}
div.footerBox {
	padding: 10px;
	margin: 10% 20px;
	position: relative;
}

div.footerPnl {
	width: 59.5%;
	padding: 10px;
	margin: -100px, 0;
	text-align: center;
	background-color: #00aaff99;
	border-radius: 0 0 10px 10px;
}

div.tabPnl {
	color: white;
	padding: 10px;
	margin: 0 20px;
	font-weight: bold;
	text-align: right;
	user-select: none;
	position: relative;
	display: inline-block;
	background-color: black;
	border-radius: 10px 10px 0 0;
}
div.tabBtnPnl {
	float: right;
}
div.tabPnl#footerTabFix {
	margin: 10% 0;
}

div#bg {
	background-size: auto;
	border-radius: 10px 10px 10px 10px;
	/* 全局默认窗口壁纸 */
	/* 会覆盖桌面端桌面壁纸，已禁用 */
	/* background-image: url("https://pic.imgdb.cn/item/6607a1b59f345e8d03ce5061.jpg"); */
}

p#verText {
	text-align: center;
}

p#tabText {
	float: left;
	margin: 0 -1px;
}

form#qtail {}

label {}

input[type="text"] {
	width: 95%;
	font-size: 150%;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	border-radius: 10px 10px 10px 10px;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rgbColor 4s infinite linear;
	background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
}

@keyframes rgbColor {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -100% 0;
	}
}

/* 自定义部分 */
succBtn {
	padding: 7px;
	cursor: pointer;
	font-size: 125%;
	user-select: none;
	background-color: #ffff99;
	border-radius: 10% 10% 10% 10%;
}

succBtn:hover {
	border: 2px solid blue;
}

tabBtn {
	margin: 2px;
	color: white;
	padding: 2px;
	cursor: pointer;
	border-radius: 10% 10% 10% 10%;
}
tabBtn:hover {
	color: black;
	background-color: red;
}

#disabled {
	color: grey;
	pointer-events: none;
}

copyBtn {
	float: right;
	padding: 1px;
	cursor: pointer;
	user-select: none;
	border-radius: 10% 10% 10% 10%;
}

copyBtn:hover {
	border: 1px solid yellow;
}

img#visitor-counter {
	width: 315px;
	height: 100px;
	margin: 2px 10%;
}

/* 屏幕宽度适配缩放 */
@media screen and (min-width: 720px) {
	/* desktop */
	div.qtailBox,
	div.resultBox,
	div.tabPnl {
		width: 60%;
		margin: 0 20%;
	}
	div.tabPnl {
		margin: -5px 20%;
	}
	div.footerPnl {
		width: 40%;
		margin: 0 0;
	}
	div.footerBox {
		margin: 5% 20%;
	}
	div.tabPnl#footerTabFix {
		width: 40%;
		margin: -5px 0;
	}

	body {
		background-size: auto 125%;
		/* 桌面端默认桌面壁纸 */
		background-image: url("https://i0.imgs.ovh/2024/03/17/enXR3.png");
	}

	.btnPnl {
		width: 100%;
		margin: -2px 85%;
	}
}
@media screen and (max-width: 720px) {
	/* moblie */

	body {
		background-size: auto 125%;
		/* 移动端默认桌面壁纸 */
		background-image: url("https://i0.imgs.ovh/2024/03/21/eayT5.png");
	}
	div.qtailBox,
	div.resultBox,
	div.tabPnl {
		width: 95%;
		margin: unset;
	}
	div.tabPnl {
		margin: -5px 0;
	}
	div.footerPnl {
		width: 70%;
		margin: 0 0;
	}
	div.tabPnl#footerTabFix {
		width: 70%;
		margin: -5px 0;
	}

	div#bg {
		background-size: auto;
		border-radius: 10px 10px 10px 10px;
		/* 移动端默认窗口壁纸 */
		/* background-image: url("https://pic.imgdb.cn/item/6607a1b59f345e8d03ce5061.jpg"); */
		margin: 5% 0;
	}

	.btnPnl {
		width: 100%;
		margin: -2px 80% 10px;
	}
}
