/*
* file: style.css
* name: 石山css
* author: XiaozhiSans
* create date: 2024/03/29
* update date: 2024/04/20
*/

/* 石山css,不要乱改,很可能牵一发动全身 (￣▽￣)" */

a {
	color: blue;
	text-decoration: none;
	border: 1px dashed blue;
	border-radius: 10px;
}
a:hover {
	/* border: 1px solid blue; */
	animation: hover 2s infinite;
}
body {
	color: black;
	background-color: deeppink;
	background-repeat: no-repeat;
	font-family: "微软雅黑", "Microsoft Yahei";
}

h1.title,
h2.subtitle {}

textarea#result {
	width: 95%;
	resize: none;
	font-size: 150%;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	border-radius: 10px 10px 10px 10px;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rgbColor 4s infinite linear;
	background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
}

div.noscriptPnl {
	width: 100%;
	display: flex;
	font-size: 120%;
	border: 100px solid black;
	padding: 10px;
	position: fixed;
	background-color: deeppink;
	z-index: 10;
	margin: 10% -110px;
}
div.qtailBox {
	width: auto;
	display: flex;
	padding: 10px;
	margin: -5px 20px;
	position: relative;
	flex-direction: column;
	justify-content: center;
	background-color: #ff69b499;
	/* border-radius: 10px 10px 0 0; */
}
div.resultBox {
	width: auto;
	display: flex;
	padding: 10px;
	margin: 5px 20px;
	position: relative;
	flex-direction: column;
	background-color: #ff149399;
	border-radius: 0 0 10px 10px;
}
div.footerBox {
	padding: 10px;
	margin: 10% 20px;
	position: relative;
}

div.footerPnl {
	width: 59.5%;
	padding: 10px;
	margin: -100px, 0;
	text-align: center;
	background-color: #00aaff99;
	border-radius: 0 0 10px 10px;
}

div.tabPnl {
	color: white;
	padding: 10px;
	margin: 0 20px;
	font-weight: bold;
	text-align: right;
	user-select: none;
	position: relative;
	display: inline-block;
	background-color: black;
	border-radius: 10px 10px 0 0;
}
div.tabBtnPnl {
	float: right;
	/* margin-right: 12.5%; */
}
div.tabPnl#footerTabFix {
	margin: 10% 0;
}

div#tipsBox {
	padding: 5px;
	position: fixed;
	bottom: 0;
	margin-bottom: 120px;
	background-color: deepskyblue;
	border-radius: 10px;
	z-index: 10;
}

div#mainWindow {
	margin-left: 10%;
}

/* @keyframes message {
	0% {}
	25% {left: 8%}
	50% {left: 4%}
	75% {left: 2%}
	100% {left: 0}
} */

div#messageBox {
	padding: 5px;
	position: fixed;
	top: 0;
	right: 0;
	color: lightskyblue;
	background-color: #000a;
	border-radius: 10px;
	z-index: 10;
	/* animation: message 4s; */
}

div#bg {
	background-size: auto;
	border-radius: 10px 10px 10px 10px;
	/* 全局默认窗口壁纸 */
	/* 会覆盖桌面端桌面壁纸，已禁用 */
	/* background-image: url("https://pic.imgdb.cn/item/6607a1b59f345e8d03ce5061.jpg"); */
}
p.atext {
	background-color: #FF149364;
	font-size: 75%;
	font-weight: bold;
	text-align: center;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rgbColor 4s infinite linear;
	background-image: -webkit-linear-gradient(left, #FF1493, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
}

p#verText {
	text-align: center;
}

p#tabText {
	float: left;
	margin: 0 -1px;
}

p#tips {
	position: relative;
	&:before {
		content: "Tip: ";
	}
}

form#qtail {}

label {}

input[type="text"] {
	width: 95%;
	font-size: 150%;
	border-radius: 10px;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rgbColor 4s infinite linear;
	background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
}
input[type="checkbox"] {
	font-size: 120%;
}

@keyframes rgbColor {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -100% 0;
	}
}

/* 旧的 rstr 模式美化样式,为了兼容性以保留
input#rstr+label#rstr {
	user-select: none;
	margin-left: 32px;
	font-size: 110%;
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		background: url("../img/checkbox.webp");
		background-size: cover;
	}
}
input#rstr:checked+label#rstr {
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		background: url("../img/checkbox_.webp");
		background-size: cover;
	}
} */

[tooltip]:hover {
	&:after {
		position: absolute;
		content: attr(tooltip);
		display: block;
		font-size: 80%;
		padding: 5px;
		z-index: 10;
		background-color: orange;
		border-radius: 10px;
		box-shadow: 0 10px 20px -5px #0004;
	}
}
[subtooltip]:hover {
	&:before {
		margin-top: -40px;
		position: absolute;
		content: attr(subtooltip);
		display: block;
		font-size: 80%;
		padding: 5px;
		z-index: 10;
		color: white;
		background-color: red;
		border-radius: 10px;
		box-shadow: 0 10px 20px -5px #0004;
	}
}

succBtn {
	width: 15%;
	padding: 7px;
	cursor: pointer;
	font-size: 125%;
	user-select: none;
	position: absolute;
	text-align: center;
	background-color: #ffff99;
	border-radius: 10px;
}

	@keyframes hover {
		0% {
			border: 1px dashed blue;
		}
		100% {
			border: 1px solid blue;
		}
	}
succBtn:hover {
	margin: -1px;
	background-color: #ff0;
	animation: hover 2s infinite;
}

tabBtn {
	padding: 4px;
	cursor: pointer;
	border-radius: 10% 10% 10% 10%;
}
tabBtn.share:hover {
	background-color: orange;
}
tabBtn.donation:hover {
	color: red;
	background-color: pink;
}
tabBtn.exit:hover {
	background-color: red;
}
tabBtn#hide:hover {
	background-color: #fffa;
}

#disabled {
	color: grey;
	pointer-events: none;
}

copyBtn {
	padding: 1px;
	cursor: pointer;
	user-select: none;
	position: absolute;
	border-radius: 10% 10% 10% 10%;
}

copyBtn:hover {
	border: 1px solid yellow;
}

img#visitor-counter {
	width: 315px;
	height: 100px;
	margin: 2px 10%;
}

/* 屏幕宽度适配缩放 */
@media screen and (min-width: 720px) {
	/* desktop */
	div.qtailBox,
	div.resultBox,
	div.tabPnl {
		width: 60%;
		margin: 0 10%;
	}
	div.tabPnl {
		margin: -5px 10%;
	}
	div.footerPnl {
		width: 40%;
		margin: 0 0;
	}
	div.footerBox {
		margin: 5% 20%;
	}
	div.tabPnl#footerTabFix {
		width: 40%;
		margin: -5px 0;
	}

	body {
		background-size: auto 200%;
		/* 桌面端默认桌面壁纸 */
		background-image: url("https://cdn.jsdelivr.net/gh/XiaozhiSans/imgbed@2024-04-20-01/XiaozhiSans/background.jpg");
	}

	copyBtn {
		margin-left: 65%;
	}

	succBtn {
		width: 6%;
		margin: 0 88%;
	}
	succBtn:hover {
		margin: 1px 88%;
	}

	.btnPnl {
		width: 100%;
		margin: -2px 85%;
	}
}
@media screen and (max-width: 720px) {
	/* moblie */

	body {
		background-size: auto 125%;
		/* 移动端默认桌面壁纸 */
		background-image: url("https://cdn.jsdelivr.net/gh/XiaozhiSans/imgbed@2024-04-20-01/XiaozhiSans/115323172_p0.png");
	}
	div.qtailBox,
	div.resultBox,
	div.tabPnl {
		width: 88%;
		margin-top: -1%;
		margin-left: -2px;
	}
	div.qtailBox {
		margin-top: -6px;
	}
	div.footerPnl {
		width: 70%;
		margin: 0 0;
	}
	div.tabPnl#footerTabFix {
		width: 70%;
		margin: -5px 0;
	}

	div#bg {
		background-size: auto;
		border-radius: 10px 10px 10px 10px;
		/* 移动端默认窗口壁纸 */
		/* background-image: url("https://pic.imgdb.cn/item/6607a1b59f345e8d03ce5061.jpg"); */
		margin: 5% 0;
	}

	copyBtn {
		margin-left: 32.5%;
	}

	succBtn {
		margin: 0 72%;
	}
	succBtn:hover {
		margin: -1px 72%;
	}

	.btnPnl {
		width: 100%;
		margin: -2px 80% 10px;
	}
}
